*.pcd
*.PCD
*.Pcd

*.csv
*.CSV
*.Csv

*.log
*.Log
*.LOG

*.ods
*.Ods
*.ODS

*Field*
*field*

Builds/
builds/ 

NewLidar/

*.o
*.O

*.vscode

*.win
*.exe

*.json
*.Json

*.out
*.Out
*.OUT

AccuRange4000/